.contact-container {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    align-items: center;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: inset 7px 7px 20px 0 rgba(0,0,0,.1),
    4px 4px 5px 0 rgba(0,0,0,.1);
    width: 90%;
    max-width: 600px;
    height: auto;
}

.input-group {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.input-field {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 200px;
}

.input-field:first-child {
    margin-left: 0;
}

.input {
    height: 40px;
    width: 100%;
    max-width: 280px;
    background: none;
    border: none;
    margin: 10px;
}

.input-field.textarea {
    display: flex;
    align-items: flex-start;
}

.input-field.textarea i {
    align-self: flex-start;
    margin-top: 10px;
}

.message {
    height: 100px;
    min-height: 100px;
    width: 100%;
    background: none;
    border: none;
    resize: vertical;
    margin: 10px;
}

.hint {
    margin: 20px;
    text-align: center;
}

@media (max-width: 600px) {
    .input-group {
        flex-direction: column;
        gap: 0;
    }

    .input-field {
        width: 100%;
    }
}

.custom-btn {
    position: relative; /* Wichtig für :after */
    overflow: hidden;

    margin: 10px auto; /* Zentrieren mit Abstand */
    width: 10rem;
    height: 3rem;
    min-width: 80px; /* Sicherstellen, dass der Button nicht zu klein wird */
    min-height: 40px;
    border-radius: 5px;
    padding: 5px;

    cursor: pointer;
    transition: all 0.3s ease;

    display: inline-block;
    text-align: center;

    box-shadow: inset 2px 2px 2px 0 rgba(255,255,255,.5),
    7px 7px 20px 0 rgba(0,0,0,.1),
    4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;

    background: linear-gradient(315deg, rgba(152, 212, 246, 0.47) 0%, rgba(149, 192, 248, 0.71) 74%);
    border: none;
    z-index: 1;
}

@media (max-width: 768px) {
    .custom-btn {
        width: 8rem;
        height: 2.8rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .custom-btn {
        width: 7rem;
        height: 2.5rem;
        font-size: 0.8rem;
    }
}

.custom-btn:hover
{
    color: #fff; /* Textfarbe */
}

.custom-btn:after
{
    height: 0;
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-image: linear-gradient(315deg, rgba(158, 178, 245, 0.71) 0%, rgba(158, 222, 245, 0.47) 74%);
    box-shadow: -7px -7px 20px 0 #fff9,
    -4px -4px 5px 0 #fff9,
    7px 7px 20px 0 #0002,
    4px 4px 5px 0 #0001;
    transition: all 0.3s ease;
}

.custom-btn:hover:after
{
    bottom: auto;
    height: 100%;
    top: 0;
}

.custom-btn:active
{
    top: 2px;
}