/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #b3d7ff;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align the buttons to the right side */
}

.logo img {
    height: 110px;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding-right: 20px;
    margin-bottom: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;
    border: none;
}

nav a:hover {
    background-color: #f0f0f0;
    color: #007BFF;
    border-radius: 5px;
}

nav a:focus {
    outline: none;
    background-color: #e6f7ff;
    border-radius: 5px;
}

nav a.active {
    background-color: #007aff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.lightbulb {
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
    transition: filter 0.3s;
}

body.light-mode button.lightbulb {
    filter: brightness(1.25);
}

body.dark-mode button.lightbulb {
    filter: brightness(0.5);
}

main {
    text-align: center;
    padding: 50px;
    flex: 1;
}

main h1 {
    font-size: 36px;
    font-weight: bold;
}

main h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

main p {
    font-size: 16px;
    margin: 20px 0;
}

.team-icon img {
    width: 100px;
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #b3d7ff;
    color: black;
}

footer a {
    margin-left: 10px;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    text-decoration: underline;
}

/* Light Mode Styles */
body.light-mode {
    background-color: white;
    color: black;
}

body.light-mode nav a {
    color: black;
}

body.light-mode footer {
    background-color: #b3d7ff;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #1a1a1a;
    color: white;
}

body.dark-mode header {
    background-color: #333;
}

body.dark-mode nav a {
    color: white;
}

body.dark-mode nav a.active {
    background-color: #007aff;
    color: white;
}

body.dark-mode footer {
    background-color: #333;
    color: white;
}

body.dark-mode footer a {
    color: white;
  }

div.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

/* Light Mode Container */
body.light-mode div.container {
    background: white;
    color: black;
}

/* Dark Mode Container */
body.dark-mode div.container {
    background: #333;
    color: white;
}


.buttonSubmit {
    background-color: #b3d7ff;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.buttonSubmit:hover {
    background-color: #3c82d1;
}

h1 {
    text-align: center;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.teamContainer {
    display: flex;
    margin-top: 30px;
}

.teamImageleft {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin-right: 50px;
}

.teamImageRight {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin-left: 50px;
}